body, html { font-family: 'Open Sans', arial, serif; background: #FFF url("../../../../images/background_s1.html") repeat-x scroll left top; margin: 0em auto; font-size: 10pt; }
h1, h2 { font-family: 'Open Sans', arial, serif; font-weight: normal; font-size: 12pt; color: /*#FF9900*/#C80C02; letter-spacing: -0.02em; line-height: 16pt; }
h2{ font-style: italic; font-size: 10pt; }

#cmain { background: #fff; }
.fr_img { float: right; margin-left: 0.25in; margin-bottom: 2em; }

/* columns */
#topnav    { position: absolute; top: 0; left: 15%; }
#topnav_bg { position: absolute; top: 0; left: 0; height: 31px; width: 100%; background-color: #FC1002; padding: 0; }
#dLeft     { float: left; width: 13%; margin-right: 2%; font-size: 12px; margin-bottom: 140px; }
#dMiddle   { float: left; width: 85%; margin-bottom: 5em; }
#copyrow   { position: absolute; left: 15%; padding-left: 12px; bottom: 1.5em; }

/* footer */
#copyrow>p { font-size: 8pt; padding-top: 0; text-align: left; }
#copyrow>p>a:link, #copyrow>p>a:visited { color: #000; text-decoration: none; }
#copyrow>p>a:hover { color: #FF9900; }

/* left navigation */
#m_navleft { margin: 0; padding: 0; }
#m_navleft>li { margin: 1em 0; list-style-type: none; list-style-position: outside; }
#m_navleft>li>a:link,
#m_navleft>li>a:visited { text-decoration: none; color: #666; }
#m_navleft>li>a:hover { color: /*#76b900*/#C80C02; }
.left-cur-item { color: /*#FF9900*/#C80C02; }

.testimonial
{
width: 50%;
margin-bottom: 0.5in;
margin-top: 10px;
line-height: 200%;
}
